<center>
<img src="../../img/ods_stickers.jpg">
    
## [mlcourse.ai](https://mlcourse.ai) - Open Machine Learning Course

Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/). Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/). All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already  in the repository)**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [2]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv('../../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [4]:
data["sex"].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [30]:
#calculating the average age of women
data[data["sex"] == "Female"]["age"].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [31]:
#count for german citizens
p1 = data[data["native-country"] == "Germany"].count()

#count for total citizens
p2 = data["native-country"].count()

#percentage
perc = (p1/p2)*100
print(perc["native-country"])

0.42074874850281013

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [28]:
#Description of all the age data
data[data["salary"]== ">50K"]["age"].describe()

#mean of age for those who earn more than 50K per year
m1 = data[data["salary"]==">50K"]["age"].mean()

#standard deviation of age for those who earn more than 50K per year
std1 = data[data["salary"]==">50K"]["age"].std()

#mean of age for those who earn less than 50K per year
m2 = data[data["salary"]=="<=50K"]["age"].mean()

#standard deviation of age for those who earn less than 50K per year
std2 = data[data["salary"]=="<=50K"]["age"].std()

#Creating a dataframe for the values
#initialize
data1 = [["Earning >50k", m1, std1], ["Earning <=50K", m2, std2]]

# Create the pandas DataFrame
df1 = pd.DataFrame(data1, columns = ["Salary","Mean","Standard Deviation"])

# print dataframe.
df1

          Salary       Mean  Standard Deviation
0   Earning >50k  44.249841           10.519028
1  Earning <=50K  36.783738           14.020088

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [29]:

education=["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc","Masters", "Doctorate"]

if ~data.loc[data["salary"]==">50K"]["education"].isin(education).all():
    print ("True")
else:
    print ("False")

True

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [12]:
#age stats for race and gender
data.groupby(["race", "sex"])["age"].describe()

#max age of Amer-Indian-Eskimo men is displayed in the table

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [18]:
#List for Married men
mm1 = ["Married-civ-spouse", "Married-spouse-absent","Married-AF-spouse"]
#Validate the list with the salary feature
ms1 = data[data["salary"]==">50K"]["marital-status"].isin(mm1).value_counts()

if ms1[True]> ms1[False]:
    print("Married")
else:
    print("Bachelors")

Married

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [15]:
print("Max working hours per person:")
print (data["hours-per-week"].max())

print("Number of people working max hours:")
people = (data[data["hours-per-week"]==data["hours-per-week"].max()].count().max())
print(people)
      
#Number of people working max hours with >50K salary
salary = (data[data["hours-per-week"]==data["hours-per-week"].max()]["salary"]==">50K").value_counts()
      
print("Percentage of people working max hours with >50K salary")
perc2=(salary/people)*100
print(perc2[True])

Max working hours per person:
99
Number of people working max hours:
85
Percentage of people working max hours with >50K salary
29.411764705882355

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [20]:
print("Country", "Salary", "Average working hours")
for(country,salary),df2 in data.groupby(["native-country","salary"]):
   print(country, salary, df2['hours-per-week'].mean(), 2)

('Country', 'Salary', 'Average working hours')
('?', '<=50K', 40.16475972540046, 2)
('?', '>50K', 45.54794520547945, 2)
('Cambodia', '<=50K', 41.416666666666664, 2)
('Cambodia', '>50K', 40.0, 2)
('Canada', '<=50K', 37.91463414634146, 2)
('Canada', '>50K', 45.64102564102564, 2)
('China', '<=50K', 37.38181818181818, 2)
('China', '>50K', 38.9, 2)
('Columbia', '<=50K', 38.68421052631579, 2)
('Columbia', '>50K', 50.0, 2)
('Cuba', '<=50K', 37.98571428571429, 2)
('Cuba', '>50K', 42.44, 2)
('Dominican-Republic', '<=50K', 42.338235294117645, 2)
('Dominican-Republic', '>50K', 47.0, 2)
('Ecuador', '<=50K', 38.041666666666664, 2)
('Ecuador', '>50K', 48.75, 2)
('El-Salvador', '<=50K', 36.03092783505155, 2)
('El-Salvador', '>50K', 45.0, 2)
('England', '<=50K', 40.483333333333334, 2)
('England', '>50K', 44.53333333333333, 2)
('France', '<=50K', 41.05882352941177, 2)
('France', '>50K', 50.75, 2)
('Germany', '<=50K', 39.13978494623656, 2)
('Germany', '>50K', 44.97727272727273, 2)
('Greece', '<=50K', 41.80952380952381, 2)
('Greece', '>50K', 50.625, 2)
('Guatemala', '<=50K', 39.36065573770492, 2)
('Guatemala', '>50K', 36.666666666666664, 2)
('Haiti', '<=50K', 36.325, 2)
('Haiti', '>50K', 42.75, 2)
('Holand-Netherlands', '<=50K', 40.0, 2)
('Honduras', '<=50K', 34.333333333333336, 2)
('Honduras', '>50K', 60.0, 2)
('Hong', '<=50K', 39.142857142857146, 2)
('Hong', '>50K', 45.0, 2)
('Hungary', '<=50K', 31.3, 2)
('Hungary', '>50K', 50.0, 2)
('India', '<=50K', 38.233333333333334, 2)
('India', '>50K', 46.475, 2)
('Iran', '<=50K', 41.44, 2)
('Iran', '>50K', 47.5, 2)
('Ireland', '<=50K', 40.94736842105263, 2)
('Ireland', '>50K', 48.0, 2)
('Italy', '<=50K', 39.625, 2)
('Italy', '>50K', 45.4, 2)
('Jamaica', '<=50K', 38.23943661971831, 2)
('Jamaica', '>50K', 41.1, 2)
('Japan', '<=50K', 41.0, 2)
('Japan', '>50K', 47.958333333333336, 2)
('Laos', '<=50K', 40.375, 2)
('Laos', '>50K', 40.0, 2)
('Mexico', '<=50K', 40.00327868852459, 2)
('Mexico', '>50K', 46.57575757575758, 2)
('Nicaragua', '<=50K', 36.09375, 2)
('Nicaragua', '>50K', 37.5, 2)
('Outlying-US(Guam-USVI-etc)', '<=50K', 41.857142857142854, 2)
('Peru', '<=50K', 35.06896551724138, 2)
('Peru', '>50K', 40.0, 2)
('Philippines', '<=50K', 38.065693430656935, 2)
('Philippines', '>50K', 43.032786885245905, 2)
('Poland', '<=50K', 38.166666666666664, 2)
('Poland', '>50K', 39.0, 2)
('Portugal', '<=50K', 41.93939393939394, 2)
('Portugal', '>50K', 41.5, 2)
('Puerto-Rico', '<=50K', 38.470588235294116, 2)
('Puerto-Rico', '>50K', 39.416666666666664, 2)
('Scotland', '<=50K', 39.44444444444444, 2)
('Scotland', '>50K', 46.666666666666664, 2)
('South', '<=50K', 40.15625, 2)
('South', '>50K', 51.4375, 2)
('Taiwan', '<=50K', 33.774193548387096, 2)
('Taiwan', '>50K', 46.8, 2)
('Thailand', '<=50K', 42.86666666666667, 2)
('Thailand', '>50K', 58.333333333333336, 2)
('Trinadad&Tobago', '<=50K', 37.05882352941177, 2)
('Trinadad&Tobago', '>50K', 40.0, 2)
('United-States', '<=50K', 38.79912723305605, 2)
('United-States', '>50K', 45.50536884674383, 2)
('Vietnam', '<=50K', 37.193548387096776, 2)
('Vietnam', '>50K', 39.2, 2)
('Yugoslavia', '<=50K', 41.6, 2)
('Yugoslavia', '>50K', 49.5, 2)